
#container {
  width: 400px;
  height: 400px;
  position: relative;
  left: 20%;
  background: rgb(82, 229, 240); 
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 220px;
  right: 180px;
  z-index: 6;
  background: rgb(255, 85, 198);
}

#animate2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 220px;
  right: -70px;
  background: rgb(51, 180, 34);
}

#sun {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 4;
  box-shadow: 0 0 50px 10px #fff,  /* inner white */
    /* 0 0 100px 40px rgb(255, 174, 0), */
    0 0 140px 40px rgb(255, 153, 0); /* middle magenta */
  background: linear-gradient(to right, rgb(255, 124, 18), rgb(230, 245, 19));
}

#moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: 20px;
  box-shadow: inset -12px 5px 0 3px #f8e072;
  border-radius: 50%;
  line-height: 10rem;
}

h1{
  color: linear-gradient(to right, rgb(49, 53, 104), rgb(230, 245, 19));
}